<!DOCTYPE html>
<html lang="en">
<head>
    <title>Intercom</title>
</head>

<body>
    <b>Done:</b> {{ codes.details.done }}
    <b>In progress:</b> {{ codes.details.in_progress }}
    <b>Total:</b> {{ codes.details.total }}

    <hr>

    <b>Random:</b> {{ codes.random.code }} - <a href="/{{ codes.random.id }}">del</a>

    <hr>

    <div style="float:left; width:50%;">
        <b>In progress</b>
        {% for code in codes.in_progress %}
            <p>{{ code.code }} - <a href="/{{ code.id }}">del</a></p>
        {% endfor %}
    </div>

    <div style="float:left; width:50%;">
        <b>Done</b>
        {% for code in codes.done %}
            <p>{{ code.code }}</p>
        {% endfor %}
    </div>

</body>

</html>
